.hijo-1 {
    background-color: red;
}
.hijo-2 {
    background-color: burlywood;
}
.hijo-3 {
    background-color: chocolate;
}
.hijo-4 {
    background-color: coral;
}
.hijo-5 {
    background-color: cornflowerblue;
}